<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <title>StudyLive</title>
    <style>
    .rounded{
        width: 90%;
        min-height: 10px;
        padding: 15px;
        border-radius: 20px;
        background: #f5f5f5;
        line-height: 200%;
        font-family: 'Montserrat';
        font-size: 1em;
        color: #999;
        margin: 30px 0
    }

    h1{
        font-family: 'Montserrat';
        font-weight: bold;
        font-size: 1.2em;
        color: #28ABAC;
        margin-top: 20px
    }
    
    p{
        font-family: 'Montserrat';
        font-size: 0.9em;
        color: #999
    }
    </style>
</head>
<body>
    <div style='width: 80%; margin: 20px auto'>
        <div style='width: 100%; text-align: center; height: 100px'>
            <img src="http://67.205.183.161:5000/public/logo1.png">
        </div>
        
        
        <h1>Bem vindo(a), {{NOME}}</h1>

        <div class="rounded">
            Obrigado por se cadastrar no <strong>Studylive</strong><br>
            Agora você poderá assistir suas aulas quando e onde quiser.<br>
            Nosso time de professores está esperando pela sua primeira aula!<br>
        </div>

        <h1>Ativação de Cadastro</h1>

        <p>Clique no link abaixo para confirmar seu cadastro:</p>

        <a href="{{LINK}}" target="_blank">
            Confirmar meu cadastro
        </a>
        <br>
        <br>
        <p>Equipe <strong>Studylive</strong></p>
    </div>
</body>
</html>